<?xml version="1.0"?>
<robot name="vnymous">
	
  <link name="base_footprint"/>

  <link name="base_link">
    <visual>
      <origin rpy="0 -0 1.5707" xyz="0 0.35 0"/>
      <geometry>
        <mesh filename="file://home/abhiyaan-orin/isaac_ros-dev/src/isaac_ros_common/src/vsim/meshes/igvc/igvc_bot.dae" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>

    <collision>
      <origin rpy="0 -0 1.5707" xyz="0 0.35 0"/>
      <geometry>
        <mesh filename="file://home/abhiyaan-orin/isaac_ros-dev/src/isaac_ros_common/src/vsim/meshes/igvc/igvc_bot.dae" scale="0.001 0.001 0.001"/>
      </geometry>   
    </collision>

    <inertial>
      <mass value="10"/>
      <inertia ixx="0.166667" ixy="0.0" ixz="0.0" iyy="0.166667" iyz="0.0" izz="0.166667"/>
    </inertial>
  </link>
    

  <link name="wheel1">
    <visual>
      <geometry>
        <mesh filename="file://home/abhiyaan-orin/isaac_ros-dev/src/isaac_ros_common/src/vsim/meshes/igvc/igvc_wheel.dae" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin rpy ="0 0 0" xyz="0 0 0"/>
    </visual>

    <collision>
      <geometry>
        <cylinder radius="0.12" length="0.04"/>
      </geometry>
      <origin rpy ="1.5707 0 1.5707" xyz="-0.065 0 0"/>
    </collision>

    <inertial>
      <mass value="5"/>
      <inertia ixx="0.166667" ixy="0.0" ixz="0.0" iyy="0.166667" iyz="0.0" izz="0.166667"/>
    </inertial>
  </link>

  <link name="wheel2">
    <visual>
      <geometry>
        <mesh filename="file://home/abhiyaan-orin/isaac_ros-dev/src/isaac_ros_common/src/vsim/meshes/igvc/igvc_wheel.dae" scale="0.001 0.001 0.001"/>
      </geometry>
    <origin rpy ="0 0 0" xyz="0 0 0"/>
    </visual>

    <collision>
      <geometry>
        <cylinder radius="0.12" length="0.04"/>
      </geometry>
      <origin rpy ="1.5707 0 1.5707" xyz="-0.065 0 0"/>
    </collision>

    <inertial>
      <mass value="5"/>
      <inertia ixx="0.166667" ixy="0.0" ixz="0.0" iyy="0.166667" iyz="0.0" izz="0.166667"/>
    </inertial>
  </link>

  <link name="castor_ball">
    <visual>
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </visual>

    <collision>
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </collision>

    <inertial>
      <mass value="3"/>
      <inertia ixx="0.166667" ixy="0.0" ixz="0.0" iyy="0.166667" iyz="0.0" izz="0.166667"/>
    </inertial>
  </link>

  <link name="castor_cylinder">
    <visual>
      <geometry>
        <cylinder length="0.03" radius="0.05"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </visual>

    <collision>
      <geometry>
        <cylinder length="0.03" radius="0.05"/>
      </geometry>
      <origin rpy ="0 0 0" xyz="0 0 0"/>
    </collision>
      
    <inertial>
      <mass value="2"/>
      <inertia ixx="0.166667" ixy="0.0" ixz="0.0" iyy="0.166667" iyz="0.0" izz="0.166667"/>
    </inertial>
  </link>

  <link name="castor_ball2">
    <visual>
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </visual>
    
    <collision>
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </collision>
    
    <inertial>
      <mass value="3"/>
      <inertia ixx="0.166667" ixy="0.0" ixz="0.0" iyy="0.166667" iyz="0.0" izz="0.166667"/>
    </inertial>
  </link>
      
  <link name="castor_cylinder2">
    <visual>
      <geometry>
        <cylinder length="0.03" radius="0.05"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </visual>
    
    <collision>
      <geometry>
        <cylinder length="0.03" radius="0.05"/>
      </geometry>
      <origin rpy ="0 0 0" xyz="0 0 0"/>
    </collision>
        
    <inertial>
      <mass value="2"/>
      <inertia ixx="0.166667" ixy="0.0" ixz="0.0" iyy="0.166667" iyz="0.0" izz="0.166667"/>
    </inertial>
  </link>
  
  <!-- JOINTS -->

  <joint name="footprint_to_baselink" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin rpy ="0 0 0" xyz="0 0 0.13"/>
  </joint> 
  
  <joint name="body_to_wheel1" type="continuous">
    <parent link="base_link"/>
    <child link="wheel1"/>
    <axis xyz="-1 0 0"/>
    <origin rpy ="0 0 1.5707" xyz="0.0 0.28 0"/>
  </joint>
  
  <joint name="body_to_wheel2" type="continuous">
    <parent link="base_link"/>
    <child link="wheel2"/>
    <axis xyz="1 0 0"/>
    <origin rpy ="0 0 -1.5707" xyz="0 -0.28 0"/>
  </joint>

  <joint name="body_to_castor_cylinder" type="continuous">
    <parent link="base_link"/>
    <child link="castor_cylinder"/>
    <axis xyz="0 0 1"/>
    <origin rpy ="0 0 0" xyz="-0.50 0 0"/>
  </joint>

  <joint name="cylinder_to_castor_ball" type="continuous">
    <parent link="castor_cylinder"/>
    <child link="castor_ball"/>
    <axis xyz="0 1 0"/>
    <origin rpy ="0 0.132544 0" xyz="0 0 -0.065"/>
  </joint>

  <joint name="body_to_castor_cylinder2" type="continuous">
    <parent link="base_link"/>
    <child link="castor_cylinder2"/>
    <axis xyz="0 0 1"/>
    <origin rpy ="0 0 0" xyz="0.40 0 0"/>
  </joint>

  <joint name="cylinder_to_castor_ball2" type="continuous">
    <parent link="castor_cylinder2"/>
    <child link="castor_ball2"/>
    <axis xyz="0 1 0"/>
    <origin rpy ="0 0.132544 0" xyz="0 0 -0.065"/>
  </joint>
    
</robot> 